#mc_embed_signup
{
  background: #fff;
  clear: left;
  font:14px Helvetica,Arial,sans-serif;
  width: 100%;
}

#mce-error-response, #mce-success-response {
    display: none;
}

#mc-div {
    position: absolute;
    left: -5000px;
}

#optionalParentP {
    margin: 0px auto;
}

#optionalParentSpan {
    display: inline-block; background-color: transparent; border-radius: 4px;
}

#optionalParentImg {
    width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;
}

#mc-embedded-subscribe {
    background-color: #16BEDA !important;
}



/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */